{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head>
        {% include 'header.html.twig' %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <footer>
            {% include 'footer.html.twig' %}
        </footer>
    </body>
</html>



