{# empty Twig template #}
{% block head %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
    {% block title %}
        <title> Test affichage page</title>
    {% endblock %}
{% endblock %}